.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
}

.header a {
  color: black;
}

#maintitle{
  color: MediumAquamarine;
}

#nav {
  justify-content: flex-end;
}

.navitems {
  display: inline-block;
}
