header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

header a {
  color: black;
}

#logo {
  display: inline-flex;
  align-items: center;
}

#maintitle{
  color: MediumAquamarine;
  padding: 10px;
}

nav {
  justify-content: space-around;
}

.navitems {
  padding: 10px;
}

#maindiv {
  border: 1px solid black;
  display: flex;
}

#column1 {
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#column2 {
  width: 300px;
  border: 1px solid black;
  display: flex;
}

#column3 {
  width: 240px;
  border: 1px solid black;
  display: flex;
}

#column1 div {
  border: 1px solid black;
}
