/* -- Header Section --*/

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100%;
  top: 0;
}


#logo {
  color: MediumAquamarine;
  align-items: center;
  display: inline-flex;
  padding-left: 30px;
}

#logo p {
  padding: 10px;
}

#nav {
  padding-right: 30px;
}

#nav li {
  display: inline-block;
  padding: 10px;
}

.dropdown {
  display: none;
}

a {
  color: black;
}

/* -- Main Section --*/

.border1 {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;

}

.sup {
  font-size: 33px;
  font-family: Georgia;
  font-weight: bold;
  padding-bottom: 15px;
}

.main {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
  position: relative;
  top: 80px;
}

.story {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.stack {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.column1 {
  display: flex;
  width: 50%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.column2 {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 0 40px;
}

.column3 {
  display: flex;
  width: 20%;
  flex-direction: column;
}

.headlines {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.bites {
  display: flex;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  flex-direction: column;
}

.bites li {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding: 10px 0 10px 15px;
}

.column3 h4 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

#phish {
  display: flex;
  background-image: url(../img-story-main.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
  align-items: center;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#earth {
  display: flex;
  background-image: url(../img-story-2.png);
  max-width: 100%;
  height: 299px;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#camera {
  display: flex;
  background-image: url(../img-story-3.png);
  height: 300px;
  max-width: 100%;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cat {
  display: flex;
  background-image: url(../img-story-1.png);
  height: 300px;
  max-width: 100%;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- Footer Section --*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  position: relative;
  height: 300px;
  top: 80px;
}

footer .logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer .nav {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 15px;
  align-items: baseline;
}


/* new code */

main img {
  max-width: 100%;
  height: auto;
}

/* media queries */

@media only screen and (max-width: 1024px) {

  .main {
    width: 100%;
  }

  .sup {
    font-size: 25px;
  }

  #phish {
    font-size: 32px;
  }

  .headlines {
    font-size: 25px;
  }

  .column3 {
    display: none;
  }

  .column2 {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  #nav {
    display: none;
  }

  #nav-resp {
    display: block;
    margin-right: 20px;
  }

  /* dropdown menu */

  .dropdown {
      position: relative;
      display: inline-block;
      margin-right: 30px;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: hsl(160, 53%, 25%);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
    background-color: hsla(160, 51%, 60%, 0.5);
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
  }

}

@media only screen and (max-width: 480px) {
  #phish {
    font-size: 23px;
  }

  .footnav,
  .barre {
    display: none;
  }

  footer .nav {
    display: flex;
    justify-content: center;
  }

  .copyright {
    margin-left: 10px;
    margin-right: 10px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
}
